{{ define "main" }}
<h2>
    {{ .Title }}
</h2>
<p>
    {{ if eq .Section "post" }}
    <time datetime="{{ .Date.Format " 2006-01-02T15:04:05Z07:00 " | safeHTML }}">
    {{.Date.Format "2006-01-02"}} </time>
    {{ end }}
</p>
<section class="content">
    {{ .Content }}
</section>

        {{ if .Params.tags }}
          <div class="blog-tags">
	    <strong>պիտակներ՝</strong>
            {{ partial "tags-span.html" . }}
          </div>
        {{ end }}

        {{ if .Params.films }}
                    <strong>ժապաւէն՝</strong>
            {{ range .Params.films }}
              <a href="{{ $.Site.LanguagePrefix | absURL }}/films/{{ . | urlize }}/">{{ . }}</a>&nbsp;
            {{ end }}
        <br>
        {{ end }}


        {{ if .Params.cameras }}
                    <strong>խցիկ՝</strong>
            {{ range .Params.cameras }}
              <a href="{{ $.Site.LanguagePrefix | absURL }}/cameras/{{ . | urlize }}/">{{ . }}</a>&nbsp;
            {{ end }}
        <br>
        {{ end }}


        {{ if .Params.digicams }}
                    <strong>խցիկ՝</strong>
            {{ range .Params.digicams }}
              <a href="{{ $.Site.LanguagePrefix | absURL }}/digicams/{{ . | urlize }}/">{{ . }}</a>&nbsp;
            {{ end }}
        <br>
        {{ end }}


        {{ if .Params.lenses }}
                    <strong>ոսպնեակ՝</strong>
            {{ range .Params.lenses }}
              <a href="{{ $.Site.LanguagePrefix | absURL }}/lenses/{{ . | urlize }}/">{{ . }}</a>&nbsp;
            {{ end }}
        <br>
        {{ end }}


        {{ if .Params.scanners }}
                    <strong>տեսածրիչ՝</strong>
            {{ range .Params.scanners }}
              <a href="{{ $.Site.LanguagePrefix | absURL }}/scanners/{{ . | urlize }}/">{{ . }}</a>&nbsp;
            {{ end }}
        <br>
        {{ end }}


        {{ if .Params.places }}
                    <strong>վայր՝</strong>
            {{ range .Params.places }}
              <a href="{{ $.Site.LanguagePrefix | absURL }}/places/{{ . | urlize }}/">{{ . }}</a>&nbsp;
            {{ end }}
        <br>
        {{ end }}


      {{ if ne .Type "page" }}
        <ul class="pager blog-pager">
          {{ if .PrevInSection }}
            <li class="previous">
              <a href="{{ .PrevInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .PrevInSection.Title }}">&larr; {{ i18n "previousPost" }}</a>
            </li>
          {{ end }}
          {{ if .NextInSection }}
            <li class="next">
              <a href="{{ .NextInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .NextInSection.Title }}">{{ i18n "nextPost" }} &rarr;</a>
            </li>
          {{ end }}
        </ul>
      {{ end }}

{{ end }}
